.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px black solid; */
}
.form {
  min-width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px black solid;
}
.form h1 {
  display: flex;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.input_container {
  margin: 10px;
}
.buttons_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input_container {
  display: flex;
  flex-direction: column;
}
input {
  all: unset;
  padding: 10px;
  border:2px black solid;
}
.inputValid{
  border: 2px lightgreen solid;
}
.inputInvalid{
  transition: 200ms;
  border: 2px red solid;
}
.label_text{
  color: black;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 2px;
}
.errorMessage{
  color:red;
  display:flex;
  flex-direction: column;
}